# -*- coding: utf-8 -*-
#
# This file is part of hepcrawl.
# Copyright (C) 2015, 2016, 2017 CERN.
#
# hepcrawl is a free software; you can redistribute it and/or modify it
# under the terms of the Revised BSD License; see LICENSE file for
# more details.

include *.py
include *.rst
include *.sh
include *.txt
include hepcrawl/*.cfg
include LICENSE
include config
include pytest.ini
include AUTHORS
include CHANGELOG

recursive-include tests *.htm
recursive-include tests *.html
recursive-include tests *.json
recursive-include tests *.zip
recursive-include tests *.py
recursive-include tests *.xml
recursive-include tests netrc
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include hepcrawl *.html
recursive-include hepcrawl *.xml
recursive-include tests *.gz
recursive-include tests *.bz2
recursive-include tests *.pdf
