# This file is part of hepcrawl.
# Copyright (C) 2015, 2016, 2017 CERN.
#
# hepcrawl is a free software; you can redistribute it and/or modify it
# under the terms of the Revised BSD License; see LICENSE file for
# more details.

# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = hepcrawl.settings

[deploy]
url = http://scrapyd:6800/
project = hepcrawl
#username = scrapy
#password = secret

[deploy:local]
url = http://localhost:6800/
project = hepcrawl
